@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs('400');
  color: clr(neutral, '200');
  line-height: 1.5;
  background-color: rgb(64, 64, 180);
  // background-color: rgb(31, 31, 43);
}
