$sizes: (
  '4': 0.25rem,
  '8': 0.5rem,
  '12': 0.75rem,
  '16': 1rem,
  '20': 1.25rem,
  '24': 1.5rem,
  '28': 1.75rem,
  '32': 2rem,
  '36': 2.25rem,
  '40': 2.5rem,
  '48': 3rem,
);

$fluid-sizes: (
  /* Space 3xs: 4px → 5px */
  '3xs': clamp(0.25rem, 0.2091rem + 0.1923vw, 0.3125rem),
  /* Space 2xs: 8px → 10px */
  '2xs': clamp(0.5rem, 0.4183rem + 0.3846vw, 0.625rem),
  /* Space xs: 12px → 15px */
  'xs': clamp(0.75rem, 0.6274rem + 0.5769vw, 0.9375rem),
  /* Space s: 16px → 20px */
  's': clamp(1rem, 0.8365rem + 0.7692vw, 1.25rem),
  /* Space m: 24px → 30px */
  'm': clamp(1.5rem, 1.2548rem + 1.1538vw, 1.875rem),
  /* Space l: 32px → 40px */
  'l': clamp(2rem, 1.6731rem + 1.5385vw, 2.5rem),
  /* Space xl: 48px → 60px */
  'xl': clamp(3rem, 2.5096rem + 2.3077vw, 3.75rem),
  /* Space 2xl: 64px → 80px */
  '2xl': clamp(4rem, 3.3462rem + 3.0769vw, 5rem),
  /* Space 3xl: 96px → 120px */
  '3xl': clamp(6rem, 5.0192rem + 4.6154vw, 7.5rem),

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 10px */
  '3xs-2xs': clamp(0.25rem, 0.0048rem + 1.1538vw, 0.625rem),
  /* Space 2xs-xs: 8px → 15px */
  '2xs-xs': clamp(0.5rem, 0.2139rem + 1.3462vw, 0.9375rem),
  /* Space xs-s: 12px → 20px */
  'xs-s': clamp(0.75rem, 0.4231rem + 1.5385vw, 1.25rem),
  /* Space s-m: 16px → 30px */
  's-m': clamp(1rem, 0.4279rem + 2.6923vw, 1.875rem),
  /* Space m-l: 24px → 40px */
  'm-l': clamp(1.5rem, 0.8462rem + 3.0769vw, 2.5rem),
  /* Space l-xl: 32px → 60px */
  'l-xl': clamp(2rem, 0.8558rem + 5.3846vw, 3.75rem),
  /* Space xl-2xl: 48px → 80px */
  'xl-2xl': clamp(3rem, 1.6923rem + 6.1538vw, 5rem),
  /* Space 2xl-3xl: 64px → 120px */
  '2xl-3xl': clamp(4rem, 1.7115rem + 10.7692vw, 7.5rem),
);


$section-padding: clamp(3rem, 10vh, 7rem);
$card-body-padding: clamp(3rem, 3.5vw, 5rem);

$border-radius: 0.5rem;
$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-inline-padding: 1rem;
$container-max-width: 54rem;
$container-max-width-wide: 75rem;
