$ff-sans: system-ui, sans-serif;
$ff-serif: serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;


/* @link https://utopia.fyi/type/calculator?c=340,16,1.2,860,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

$font-sizes: (
  /* Step -2: 11.1111px → 12.8px */
  '200': clamp(0.6944rem, 0.6254rem + 0.3248vw, 0.8rem),
  /* Step -1: 13.3333px → 16px */
  '300': clamp(0.8333rem, 0.7244rem + 0.5128vw, 1rem),
  /* Step 0: 16px → 20px */
  '400': clamp(1rem, 0.8365rem + 0.7692vw, 1.25rem),
  /* Step 1: 19.2px → 25px */
  '500': clamp(1.2rem, 0.963rem + 1.1154vw, 1.5625rem),
  /* Step 2: 23.04px → 31.25px */
  '600': clamp(1.44rem, 1.1045rem + 1.5788vw, 1.9531rem),
  /* Step 3: 27.648px → 39.0625px */
  '700': clamp(1.728rem, 1.2615rem + 2.1951vw, 2.4414rem),
  /* Step 4: 33.1776px → 48.8281px */
  '800': clamp(2.0736rem, 1.434rem + 3.0097vw, 3.0518rem),
  /* Step 5: 39.8131px → 61.0352px */
  '900': clamp(2.4883rem, 1.6211rem + 4.0812vw, 3.8147rem),
);

$fw-400: 400;
$fw-700: 700;