@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  font-weight: $fw-700;
  padding: fluid-size('xs') fluid-size('m');
  transition: 275ms ease;
  border-radius: $border-radius;

  &[data-type="primary"] {
    background-color: rgb(45, 45, 116);
    color: clr(neutral, '100');
  }

  &[data-type="secondary"] {
    background-color: crimson;
    color: clr(neutral, '100');
  }

  &[data-type="outline"] {
    --outline-size: 5px;
    background: transparent;
    outline: var(--outline-size) solid clr(neutral, '100');
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, '100');
  }

  &:is(:hover, :focus) {
    background: clr(neutral, '100');
    color: clr(neutral, '900');
  }
}
