@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  font-weight: 500;
  padding: fluid-size('xs') fluid-size('m');
  transition: 275ms ease;
  border-radius: $border-radius;

  &[data-type="primary"] {
    background-color: clr(primary, '500');
    color: clr(neutral, '100');

    &:hover {
      background-color: clr(primary, '600');
    }
  }

  &:disabled {
    background-color: clr(neutral, '600');
    cursor: not-allowed;

    &:hover {
      background-color: clr(neutral, '600');
    }
  }
}
