@use '../abstracts/' as *;

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100dvh - fluid-size('2xl'));
  overflow: hidden;
  position: relative;
}

.chat::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; 
  max-width: 35rem;
  aspect-ratio: 1 / 1;
  background: url('/images/chuck.svg') no-repeat center;
  background-size: contain;
  opacity: 0.1; 
  pointer-events: none; 
  z-index: -1; 
}

.chat-window {
  flex-grow: 1;
  padding: fluid-size('s');
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: fluid-size('s');
}

.chat-form {
  display: flex;
  padding: fluid-size('s');
  border-radius: $border-radius;
  margin-bottom: fluid-size('xs');
  background-color: crimson;
  gap: fluid-size('s');

  .button {
    flex-grow: 1;
  }
}

.chat-select {
  appearance: none;
  background: url('/icons/down-caret.svg') no-repeat right center;
  background-size: fluid-size('m');
  background-color: clr(neutral, '100');
  flex-grow: 6;
  text-align: center;
  font-size: fs('500');
  border: none;
  border-radius: $border-radius;
  font-weight: 500;
  color: clr(primary, '600');
}