@use '../abstracts/' as *;

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - fluid-size('2xl'));
  overflow: hidden;
}

.chat-window {
  flex-grow: 1;
  padding: fluid-size('s');
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: fluid-size('s');
}

.chat-form {
  display: flex;
  padding: fluid-size('s');
  border-radius: $border-radius;
  margin-bottom: fluid-size('3xs-2xs');
  background-color: crimson;
  gap: fluid-size('s');

  select {
    appearance: none;
    background: url('/icons/down-caret.svg') no-repeat right 0 center;
    background-color: clr(neutral, '100');
    flex-grow: 1;
    text-align: center;
    font-size: fs('500');
    border: none;
    border-radius: $border-radius;
    font-weight: 500;
    color: clr(primary, '600');
  }
}