@use '../abstracts/' as *;

.user-message {
  background-color: rgb(45, 45, 116);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: right;
  width: fit-content;
  align-self: end;
}

.bot-message {
  display: flex;
  gap: 1rem;

  img {
    width: 3.5rem;
    height: 3.5rem;
    // object-fit: cover;
  }
}