@use '../abstracts/' as *;

.user-message {
  background-color: rgb(45, 45, 116);
  padding: fluid-size('2xs') fluid-size('s');
  border-radius: $border-radius;
  width: fit-content;
  align-self: end;
}

.bot-message {
  display: flex;
  gap: fluid-size('s');

  img {
    width: fluid-size('xl');
    height: fluid-size('xl');
  }
}