@use '../abstracts/' as *;

.site-header {
  background-color: crimson;
  padding-block: 1rem;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    &__list{
      display: flex;
      gap: 1rem;
    }
    &__link {
      color: clr(neutral, '200');
    }
  }
}