@use '../abstracts/' as *;

.site-header {
  background-color: crimson;
  padding-block: fluid-size('s');
  font-weight: bold;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: fluid-size('s');
  }

  .nav {
    &__list{
      display: flex;
      gap: fluid-size('s-m');
    }
    &__link {
      color: clr(neutral, '100');
      text-decoration: none;
    }
  }
}